.resource-controls {
	/* background-color: rgba(128, 255, 128, .25); */
	border: 1px solid #000;
	padding: 1em;

	button {
		padding: .5em;
		/*
		background-color: #fff;
		color: #333;
		transition-delay: 0s;
		transition-duration: 1s;
		transition-property: all;
		-webkit-transition-delay: 0s;
		-webkit-transition-duration: 1s;
		-webkit-transition-property: all;
		*/
		width: 100%;
	}

	/*
	> section {
		display: grid;
		grid-auto-rows: 3em;
	}
	*/

	.modal article {
		align-self: stretch;
		display: grid;
		grid-template-rows: 50px 1fr 50px;

		button {
			grid-row: 3;
		}
	}

	.tab-switcher {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.unit-container {
		display: grid;
		gap: 5px;
		grid-auto-columns: 1fr;
		margin-top: 1rem;
		padding: 5px;

		@media screen and (min-width: 600px) {
			grid-template-columns: 1fr 1fr;
		}

		@media screen and (min-width: 900px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
