.money-controls {
	/* background-color: rgba(128, 255, 128, .25); */
	border: 1px solid #000;
	padding: 1em;

	button {
		padding: .5em;
		/*
		background-color: #fff;
		color: #333;
		transition-delay: 0s;
		transition-duration: 1s;
		transition-property: all;
		-webkit-transition-delay: 0s;
		-webkit-transition-duration: 1s;
		-webkit-transition-property: all;
		*/
	}

	/*
	> section {
		display: grid;
		grid-auto-rows: 3em;
	}
	*/
}
