@page
@{
	ViewData["Title"] = "Development Blog";
	Layout = "~/Pages/Shared/_Layout.cshtml";
	//ViewBag.Title = "My View's Title";
}

<h1>Development Blog</h1>

<ul>
	<li>Nov 11, 2019 - Using Expo to make a mobile app</li>
</ul>
