@page
@{
	Layout = "~/Pages/Shared/_Layout.cshtml";
	string entryHtml = ViewBag.EntryHtml == null ? "" : ViewBag.EntryHtml;
}

<a href="/Blog">Blog Home</a>

@if (entryHtml.Length > 0)
{
	<section>
		<article>
<!-- entry start -->
@Html.Raw(entryHtml)
<!-- entry end -->
		</article>
	</section>
}
else
{
	<p>Entry not found</p>
}
