@page
@{
	ViewData["Title"] = "Development Blog";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Development Blog</h1>

<ul>
	<li>Nov 11, 2019 - <a href="/Blog/Details/1">Using Expo to make a mobile app</a></li>
</ul>
