.resource-display {
	display: grid;
	gap: 5px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 10px;
	margin-top: 10px;
	// margin: 10px auto;

	// tbody tr td:nth-child(2) {
	// 	text-align: right;
	// }

	.resource {
		background-color: rgba(0, 0, 0, .5);
		border: 1px solid #000;
		color: #fff;
		padding: 5px;
		text-align: center;

		&.food-display {
			grid-column: 1;
		}

		&.stone-display {
			grid-column: 2;
		}

		&.wood-display {
			grid-column: 3;
		}
	}

}
