@import '../../../scss/site';

.resource-display {
	display: grid;
	margin-bottom: $spacing_External;
	margin-top: $spacing_External;
	// margin: 10px auto;

	// tbody tr td:nth-child(2) {
	// 	text-align: right;
	// }

	.bottom-row,
	.top-row {
		display: grid;
		gap: $spacing_Internal;

		.resource {
			background-color: $color_Black_SemiGloss;
			border: 1px solid $color_Black_Blackest;
			color: $color_White_Whitest;
			padding: $spacing_Internal;
			text-align: center;

			&.food-display {
				grid-column: 1;
			}

			&.population-display {
				grid-column: 1;
			}

			&.stone-display {
				grid-column: 2;
			}

			&.wood-display {
				grid-column: 3;
			}
		}
	}

	.bottom-row {
		grid-template-columns: 1fr;
		margin-top: $spacing_Internal;
	}

	.top-row {
		grid-template-columns: 1fr 1fr 1fr;
		margin-bottom: $spacing_Internal;
	}
}
