.assignment {
	progress {
		&.food,
		&.food::-webkit-progress-bar {
			background-color: #a00;
		}

		&.food::-moz-progress-bar,
		&.food::-webkit-progress-value {
			background-color: #f00;
			color: #f00;
		}

		&.stone,
		&.stone::-webkit-progress-bar {
			background-color: #333;
		}

		&.stone::-moz-progress-bar,
		&.stone::-webkit-progress-value {
			background-color: #aaa;
			color: #aaa;
		}

		&.wood,
		&.wood::-webkit-progress-bar {
			background-color: #661;
		}

		&.wood::-moz-progress-bar,
		&.wood::-webkit-progress-value {
			background-color: #aa4;
			color: #aa4;
		}
	}

	ul {
		padding: 0;

		li {
			list-style-type: none;

			button {
				border-radius: 15px;
				// margin: 0 10px;
				padding-bottom: 0;
				padding-top: 0;
			}

			input[type="text"] {
				padding-right: 5px;
				text-align: right;
				width: 50px;
			}

			button,
			input[type="text"] {
				height: 2.6rem;
				line-height: 2.6rem;
				vertical-align: middle;
			}
		}
	}

	.main-label {
		text-align: center;
	}

	.resource {
		display: grid;
		grid-template-areas:
			".      lbl      ."
			"minus  val  plus"
			"prog  prog  prog";

		progress {
			grid-area: prog;
		}

		.count {
			font-size: 1.67rem;
			grid-area: val;
			text-align: center;
		}

		.minus {
			grid-area: minus;
		}

		.name {
			grid-area: lbl;
		}

		.plus {
			grid-area: plus;
		}
	}

	.sub-label {
		text-align: right;
	}
}
