.unit-display {
	background-color: rgba($color: #ccc, $alpha: .5);
	border: 1px solid #333;
	border-radius: 10px;
	padding: 20px;

	.desc {
		background-color: rgba($color: #777, $alpha: .5);
		border-radius: 10px;
		padding: 5px;
		text-indent: 10px;
		word-break: break-word;
	}

	.name {
		font-size: 1.5rem;
		font-weight: bolder;
		text-align: center;

		.count {
			font-size: 1rem;
			font-weight: normal;

			.value {
				color: #555;
				font-weight: bolder;
			}
		}
	}
}
