.unit-display {
	background-color: rgba($color: #ccc, $alpha: .5);
	border: 1px solid #333;
	border-radius: 10px;
	padding: 20px;

	.count {
		font-size: 1rem;
		font-weight: normal;
		margin: 0;
		margin-bottom: 10px;
		padding: 0;
		text-align: center;

		.value {
			color: #555;
			font-weight: bolder;
		}
	}

	.desc {
		background-color: rgba($color: #777, $alpha: .5);
		border-radius: 10px;
		padding: 5px;
		text-indent: 10px;
		word-break: break-word;
	}

	.name {
		font-size: 1.5rem;
		font-weight: bolder;
		margin-bottom: 0;
		text-align: center;
	}
}
